.header {
    // padding: 150px 120px 30px 120px;
    // text-align: center;

    .carousel-item{
        transition: transform .2s ease, opacity .5s ease-out;
    }

    .logEslog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(245, 245, 220, 0.323);
        padding: 0px 25px 10px 25px;
        border-radius: 100px;
        #logo {
            text-align: center;
            justify-content: center;
            //width: 530px;
            margin: 0 auto;
        }

        #eslogan {
            padding-top: 15px;
            font-family: 'Qwiley-Regular', cursive;
            color: white;
            -webkit-text-stroke: 1px black;
            text-stroke: 1px black;
            font-size: 70px;
            font-weight: lighter;
            
        }
    }

    .carousel{
        position: relative;
    }

}

@font-face {
    font-family: 'Qwiley-Regular';
    src: url("../../assets/fonts/Qwigley-Regular.ttf");
}


@media screen and (max-width: 500px) {
    .header {
        padding: 20px;
    }
}