<div class="header">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/media/comida_italiana.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/media/lasana-comida.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/media/italianowhyus.jpg" class="d-block w-100" alt="...">
      </div>
  <div class="logEslog">
    <img id="logo" src="../../assets/media/logo 1.png" alt="">
    <h3 id="eslogan">La elegancia italiana en cada plato</h3>
    <app-navbar></app-navbar>
  </div>
</div>
