.cuerpo {
    display: flex;
    flex-direction: row;
    margin: 20px;

    .carVid {
        margin-top: 130px;
        margin-left: 20px;

        .carousel {
            margin-bottom: 50px;
            width: 530px;
        }

    }

    .container {
        display: grid;
        place-items: center;
        margin-left: 30px;
        font-family: 'Dancing Script', cursive;
        background: rgba(156, 143, 167, 0.308);
        background: radial-gradient(circle, rgba(156, 143, 167, 0.123) 0%, rgba(0, 0, 0, 0.137) 56%);
        border: 1px solid black;
        padding: 15px;
        font-size: 20px;
        box-shadow: 8px 6px 10px gray;
        border-radius: 16px;
        color: black;

        h2 {
            font-size: 30px;
            text-align: center;
        }
    }
}

.mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;

}

.integ{
    margin: 20px;
    .contenedor {
        background-color: #fff;
        border-radius: 10px;
        padding: 30px 20px;
        box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.021),
            0px 59px 36px rgba(0, 0, 0, 0.05),
            0px 26px 26px rgba(0, 0, 0, 0.09),
            0px 7px 15px rgba(0, 0, 0, 0.041),
            0px 15px 25px rgba(0, 0, 0, 0.1);
    }

    .nombre{
        margin: 0;
        margin-top: 15px;
        font-weight: bolder;
    }

    .bio {
        display: flex;

        img {
            width: 15%;
            height: 15%;
            margin: 5px;
        }

        .bio1 {
            flex-direction: row;
            img {
                height: 600px;
                width: 900px;
        
        
            }

            p {
                padding: 70px;
                text-align: justify;
            }
        }
    }
}

.contenido {
    width: 560px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 15px black;
    margin-bottom: 25px;
}

.githubPerfiles {
    img {
        height: 800px;
        width: 900px;


    }

    width: 900px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 10px 10px 15px black;
}